
<!Doctype html>
<html class="no-js" lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Administrateur</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block header_links %}{% endblock header_links %}
</head>

<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="hpanel">
				<div class="panel-body text-center lock-inner">
					<i class="fa fa-lock" aria-hidden="true"></i>
					<br/>
					<p>Veuillez entrer votre mot de passe pour continuer</p>
					<form action="#" class="m-t">
						<div class="form-group">
							<input type="password" required="" placeholder="******" class="form-control">
						</div>
						<button class="btn btn-primary block full-width" type="submit">Dévérouiller</button>
					</form>
				</div>
			</div>
		</div>   
	</div>
  {% block footer %}{% endblock footer %}
{% block footer_links %}{% endblock footer_links %}
</body>

</html>