{% load static %}

{% block header_links %}
    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'adminspace/css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href=" {% static 'adminspace/css/font-awesome.min.css' %}">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href=" {% static 'adminspace/css/owl.carousel.css' %} ">
    <link rel="stylesheet" href=" {% static 'adminspace/css/owl.theme.css' %} ">
    <link rel="stylesheet" href=" {% static 'adminspace/css/owl.transitions.css' %} ">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href=" {% static 'adminspace/css/animate.css' %} ">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href=" {% static 'adminspace/css/normalize.css' %} ">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href=" {% static 'adminspace/css/main.css' %} ">
    <!-- educate icon CSS
		============================================ -->
        <link rel="stylesheet" href=" {% static 'css/educate-custon-icon.css' %} ">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href=" {% static 'adminspace/css/morrisjs/morris.css' %} ">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href=" {% static 'adminspace/css/scrollbar/jquery.mCustomScrollbar.min.css' %} ">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href=" {% static 'adminspace/css/metisMenu/metisMenu.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'adminspace/css/metisMenu/metisMenu-vertical.css' %} ">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href=" {% static 'adminspace/css/calendar/fullcalendar.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'adminspace/css/calendar/fullcalendar.print.min.css' %} ">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href=" {% static 'adminspace/css/form/all-type-forms.css' %} ">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'adminspace/style.css' %}">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href=" {% static 'adminspace/css/responsive.css' %} ">
    <!-- Data Table CSS
		============================================ -->
        <link rel="stylesheet" href=" {% static 'adminspace/css/data-table/bootstrap-table.css' %} ">
        <link rel="stylesheet" href=" {% static 'adminspace/css/data-table/bootstrap-editable.css' %} ">
    <!-- meanmenu icon CSS
		============================================ -->
    <!-- modals CSS
		============================================ -->
        <link rel="stylesheet" href=" {% static 'adminspace/css/modals.css' %} ">
    <link rel="stylesheet" href=" {% static 'adminspace/css/meanmenu.min.css' %} ">
    <!-- modernizr JS
        ============================================ -->
    <script src="{% static 'adminspace/js/vendor/modernizr-2.8.3.min.js' %}"></script>
{% endblock header_links %}