{% extends 'receptionspace/base.html' %}
{% block title %}Rendez-vous{% endblock title %}
{% block content %}
<div class="analytics-sparkle-area mg-b-15">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30">
                    <div class="analytics-content">
                        <h5>Nombre de Rdv</h5>
                        <h2><span class="counter">5000</span></h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30">
                    <div class="analytics-content">
                        <h5>Nbre de patient</h5>
                        <h2><span class="counter">5000</span></h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30">
                    <div class="analytics-content">
                        <h5>Personel</h5>
                        <h2><span class="counter">5000</span></h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30">
                    <div class="analytics-content">
                        <h5>Hospitalisation</h5>
                        <h2><span class="counter">5000</span></h2>
                    </div>
                </div>
            </div>


            
          
           
           
        </div>
    </div>
</div>


<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1 style="color: #13372b;">Liste des rendez-vous</h1>
                        </div>
                    </div>

                    <!-- <a href="create_patient.html"><button type="button" class="btn btn-custon-rounded-four" style="background-color: #13372b; color: white;">Enregistrer un patient</button></a> -->
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                          
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="nom" >Nom</th>
                                        <th data-field="prenoms" >Prénoms</th>
                                        <th data-field="sexe" >Sexe</th>
                                        <th data-field="contact">Contact</th>
                                        <th data-field="heure">Heure</th>
                                        <th data-field="email" >Email</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>Jean</td>
                                        <td>Marie lemaire</td>
                                        <td>F</td>
                                        <td>+225 01234567890</td>
                                        <td>08H30</td>
                                        <td>jeanmarielemaire@gmail.com</td>
                                        <td>
                                            <button type="button" class="btn btn-custon-four btn-default" data-toggle="modal" data-target="#InfoBase"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                            <button type="button" class="btn btn-custon-four btn-default" data-toggle="modal" data-target="#SupprimRdv"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            <button type="button" class="btn btn-custon-four btn-default" data-toggle="modal" data-target="#Validation"><i class="fa fa-check" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- supprimer rdv -->
<div id="SupprimRdv" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <h2>Danger!</h2>
                <p>Voulez vous vraiment supprimer ce patient ?</p>
            </div>
            <div class="modal-footer danger-md">
                <a data-dismiss="modal" href="#">Non</a>
                <a href="#">Oui</a>
            </div>
        </div>
    </div>
</div>
<!-- supprimer rdv -->



<!-- supprimer rdv -->
<div id="Validation" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <h2>Danger!</h2>
                <p>Voulez Avez consulté ce patient ?</p>
            </div>
            <div class="modal-footer danger-md">
                <a data-dismiss="modal" href="#">Non</a>
                <a href="#">Oui</a>
            </div>
        </div>
    </div>
</div>
<!-- supprimer rdv -->




<!-- Information de base a la clinique-->
<div id="InfoBase" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline16-list responsive-mg-b-30">
                        <div class="sparkline16-hd">
                            <div class="main-sparkline16-hd">
                                <h1>Creation du dossier patient</h1>
                            </div>
                        </div>
                        <div class="sparkline16-graph">
                            <div class="date-picker-inner">
                                <form action="">

                                    <div class="form-group data-custon-pick" id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon">Date</span>
                                            <input type="text" class="form-control" value=" Vendredi 12 Mars 2023" disabled>
                                        </div>
                                    </div>


                                    <div class="form-group data-custon-pick" id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon">Taille</span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>


                                    <div class="form-group data-custon-pick" id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon">Poids</span>
                                            <input type="text" class="form-control"  >
                                        </div>
                                    </div>


                                    <div class="form-group data-custon-pick" id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon">Température</span>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>


                                    <div class="form-group data-custon-pick" id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon">Motifs</span>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>


                                    <div class="login-btn-inner">
                                            <button class="btn btn-sm btn-primary pull-right login-submit-cs" type="submit">Ajouter</button>
                                    </div> 
                                    <br>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal 1-->
{% endblock content %}